In [111]:
import sqlalchemy as db

In [112]:
engine = db.create_engine("sqlite:///mydb.db")
conn = engine.connect()
metadata = db.MetaData()

In [113]:
Company = db.Table("Company",metadata,
                db.Column("id",db.Integer,primary_key=True),
                db.Column("name",db.Text))

In [114]:
Trip = db.Table("Trip",metadata,
                db.Column("id",db.Integer,primary_key=True),
                db.Column("company",db.Integer,db.ForeignKey("Company.id")),
                db.Column("from_",db.Text),
                db.Column("to_",db.Text))

In [115]:
Passangers = db.Table("Passangers",metadata,
                db.Column("id",db.Integer,primary_key=True),
                db.Column("name",db.Text)
                )

In [116]:
Pass_in_trip = db.Table("Pass_trip",metadata,
                db.Column("id",db.Integer,primary_key=True),
                db.Column("trip",db.Integer,db.ForeignKey("Trip.id")),
                db.Column("passanger",db.Integer,db.ForeignKey("Passangers.id")),
                db.Column("place",db.Text))

In [117]:
metadata.create_all(engine)

In [118]:
conn.execute(
    Company.insert().values([
        {"name":"Belavia"},
        {"name":"Aeroflot"},
        {"name":"Pobeda"}
    ])
)

In [119]:
conn.execute(
    Trip.insert().values([
        {"company": 1, "from_":"Moscow", "to_":"Minsk"},
        {"company": 2, "from_":"Moscow", "to_":"Berlin"},
        {"company": 3, "from_":"London", "to_":"Warsaw"}
    ])
)

In [120]:
conn.execute(
    Passangers.insert().values([
        {"name": "Устинов Терентий"},
        {"name": "Бобылёв Юстин"},
        {"name": "Доронин Август"},
        {"name": "Мартынов Роберт"},
        {"name": "Комаров Валентин"},
        {"name": "Мышкин Клим"},
        {"name": "Никонов Руслан "},
        {"name": "Кузнецов Аверкий "},
        {"name": "Фадеев Владимир"}
    ])
)

In [121]:
import random

conn.execute(
    Pass_in_trip.insert().values([
        {"trip": random.randint(1,3), "passanger":1, "place":"1c"},
        {"trip": random.randint(1,3), "passanger":2, "place":"13b"},
        {"trip": random.randint(1,3), "passanger":3, "place":"5a"},
        {"trip": random.randint(1,3), "passanger":4, "place":"23d"},
        {"trip": random.randint(1,3), "passanger":5, "place":"1b"},
        {"trip": random.randint(1,3), "passanger":6, "place":"9a"},
        {"trip": random.randint(1,3), "passanger":7, "place":"7c"},
        {"trip": random.randint(1,3), "passanger":8, "place":"19c"},
        {"trip": random.randint(1,3), "passanger":9, "place":"10b"},
    ])
)

In [122]:
conn.exec_driver_sql("SELECT "
                      "   *" 
                      "FROM " 
                      "   Pass_trip AS pt ").fetchall()

[(1, 3, 1, '1c'),
 (2, 1, 2, '13b'),
 (3, 1, 3, '5a'),
 (4, 3, 4, '23d'),
 (5, 3, 5, '1b'),
 (6, 3, 6, '9a'),
 (7, 2, 7, '7c'),
 (8, 2, 8, '19c'),
 (9, 2, 9, '10b')]

In [123]:
conn.exec_driver_sql("SELECT "
                      "   *" 
                      "FROM " 
                      "   Trip").fetchall()

[(1, 1, 'Moscow', 'Minsk'),
 (2, 2, 'Moscow', 'Berlin'),
 (3, 3, 'London', 'Warsaw')]

In [124]:
conn.exec_driver_sql("SELECT "
                      "   *" 
                      "FROM " 
                      "   Passangers").fetchall()

[(1, 'Устинов Терентий'),
 (2, 'Бобылёв Юстин'),
 (3, 'Доронин Август'),
 (4, 'Мартынов Роберт'),
 (5, 'Комаров Валентин'),
 (6, 'Мышкин Клим'),
 (7, 'Никонов Руслан '),
 (8, 'Кузнецов Аверкий '),
 (9, 'Фадеев Владимир')]

In [125]:
conn.exec_driver_sql("SELECT "
                      "   *" 
                      "FROM " 
                      "   Company").fetchall()

[(1, 'Belavia'), (2, 'Aeroflot'), (3, 'Pobeda')]

In [129]:
conn.exec_driver_sql("SELECT "
                      "  pass.name, c.name, pt.place, t.to_, t.from_ " 
                      "FROM " 
                      "   Pass_trip AS pt "
                      "JOIN "
                      "   Passangers AS pass ON pt.passanger = pass.id "
                      "JOIN "
                      "   Trip AS t ON pt.trip = t.id "
                      "JOIN "
                      "   Company AS c ON t.company = c.id"
                      ).fetchall()

In [130]:
conn.exec_driver_sql("SELECT "
                      "  name " 
                      "FROM " 
                      "   Company "
                      "ORDER BY name"
                      ).fetchall()

[('Aeroflot',), ('Belavia',), ('Pobeda',)]

In [131]:
conn.exec_driver_sql("SELECT "
                      "  name " 
                      "FROM " 
                      "   Company "
                      " UNION "
                      "SELECT "
                      "  name " 
                      "FROM " 
                      "   Passangers "
                      ).fetchall()

[('Aeroflot',),
 ('Belavia',),
 ('Pobeda',),
 ('Бобылёв Юстин',),
 ('Доронин Август',),
 ('Комаров Валентин',),
 ('Кузнецов Аверкий ',),
 ('Мартынов Роберт',),
 ('Мышкин Клим',),
 ('Никонов Руслан ',),
 ('Устинов Терентий',),
 ('Фадеев Владимир',)]